body{
	background-color: gray;
	color: 3333;
	border-bottom-style: black square;
	padding:100px;
	border-left-color: white;
	border:100px;
	margin-bottom: 29px;
	border-bottom: 100px;
	border-image-source: url("img/Ik.jpg") width="10";



}
nav     {
  width: 100%;
  display: inline-block;
  background-color: black;
  border-bottom-style: black solid;
  font-size: 24px;
  padding: 30px;
  border:50px;
  border-top: 20px;


}
nav ul   {
  list-style: none;
  margin: 0;
  list-style:inside;
}
nav ul li {
  display: inline-block;
  margin: 1000px,1000px,1000px,1000px;
}
nav ul li .link   {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
nav ul li .link:hover   {
  background: #444;
}
nav ul li .lefting   {
  margin-left:350px;
}
nav ul li .link1{
	margin-left: 100px;
}
h1{
	background-color: white;
	font-family: sans-serif;
	text-align: center;
	font-size-adjust: 30px;


}
.main-header h1{
	font-family: monospace;
	font-weight: 800;
	font-style: italic;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
	paint-order: white;
	background-color: black;
	color: white;
	column-rule-style: solid;
	margin: 1.3px;
	margin-left: 0px;
	margin-right: 0px;

}
.main-footer{
	text-align: center;
	margin-left: 234;
	color: black;
	padding-bottom: 12px;
	direction: left;
	font-family: sans-serif;
	font-style: italic;
	font-size: 12px;
}
nav ul li .lefting1{
	margin-left:200px;

}
.menu-icon{
	font-size: 3.5rem;
	color: #fafafa;
	cursor: pointer;
}
}
.whatever{
	color:blue;

}
.container {
	padding: 20px;
	border-radius: 19px;
	font-size: 24px;
	font-family: sans-serif;
	border-spacing: 2px;
	font-style: italic;
	background-position: 23px;
	border:150px;
}