body{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
		background-image: url("./img/lala.jpg");
		background-repeat: no-repeat;

}
.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align:center;

}
.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 40px;
	text-decoration-color: rgb(-50%,-50%);

}


.box input[type="text"],.box input[type="password"]{
	border:0;
	background: none; 
	margin: 10px auto;
	text-align: center;
	border-bottom: 6px gray solid;
	padding: 10px 10px;
	width: 180px;
	outline: none;
	color: white;
	border-radius: 0px;
	transition: 0.25s;
	overflow: hidden;
font-size: 15px;
font-family: monospace;



}
.box input[type="submit"]{
	border:0;
	background: none;
	margin: 20px auto;
	text-align: center;
	border:2px solid green;
	padding: 0px;
	width: 100px;
	outline: none;
	color: white;
	border-radius: 0px;
	font-size: 20px;
	font-size: 18px;
	cursor: pointer;
	font-family: monospace;
}
.main-footer{
	text-align: center;
	font-family: monospace;
	outline-color: skyblue;
}
.box input[type="submit"]:hover{
	background: black;
}